# Gradle
.gradle/
/build/
/local.properties

# IntelliJ IDEA / Android Studio
.idea/
!.idea/codeStyles/
!.idea/scopes/
!.idea/vcs.xml
!.idea/inspectionProfiles/
*.iml
*.iws

# Android
/captures/
.externalNativeBuild/
.cxx/

# OS specific
.DS_Store
Thumbs.db

# Backup rules
*.bak
*.tmp
